import os
import sys
from cerbero.config import Platform, Architecture, Distro, DistroVersion

target_platform=Platform.LINUX
target_arch=Architecture.X86_64
target_distro=Distro.DEBIAN
target_distro_version=DistroVersion.UBUNTU_TRUSTY

# use all cores
allow_parallel_build = True

# set build related variables
home_dir=os.path.join(os.getcwd(), 'cerbero_build')
